[package]
name = "proto"
version = "0.1.1"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tonic = { version = "0.12.0", default-features = false, features = ["codegen"] }
prost = "0.13.1"
prost-types= "0.13.1"

[build-dependencies]
tonic-build = "0.12.0"
