name: Deployment

on:
  push:
    branches: ['master']
    # Publish semver tags as releases.
    tags: [ 'v*.*.*' ]

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}


jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: rustup toolchain install stable --profile minimal
      - uses: Swatinem/rust-cache@v2

      - name: Test
        run: cargo test --release --no-fail-fast --workspace

  publish:
    needs: test
    if: ${{ github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    concurrency:
      group: production
      cancel-in-progress: true

    outputs:
      tag: ${{ fromJSON(steps.meta.outputs.json).tags[0] }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Workaround: https://github.com/docker/build-push-action/issues/461
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@4c0219f9ac95b02789c1075625400b2acbff50b1

      # Login against a Docker registry except on PR
      # https://github.com/docker/login-action
      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@818d4b7b91585d195f67373fd9cb0332e31a7175
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}},enable=${{ !startsWith(github.ref, 'refs/tags/v0.') }}
            type=sha,priority=650
            type=ref,event=branch
          flavor: |
            latest=auto

      # Build and push Docker image with Buildx (don't push on PR)
      # https://github.com/docker/build-push-action
      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@2eb1c1961a95fc15694676618e422e8ba1d63825
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  deploy:
    if: ${{ github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main' }}
    needs: publish
    runs-on: ubuntu-latest
    steps:
      - name: Get Deployment API Token
        id: token
        uses: fjogeleit/http-request-action@main
        with:
          url: ${{secrets.DEPLOY_AUTH_URL}}
          method: 'POST'
          timeout: 30000
          data: >-
            {
              "grant_type":"password",
              "prompt":"none", 
              "client_id": "kube-environment",
              "scope": "openid",
              "username": "${{secrets.DEPLOY_USERNAME}}",
              "password": "${{secrets.DEPLOY_PASSWORD}}"
            }
          contentType: "application/x-www-form-urlencoded"

      - name: Update
        id: refresh
        uses: fjogeleit/http-request-action@main
        with:
          url: "${{secrets.DEPLOY_URL}}?image=${{needs.publish.outputs.tag}}"
          method: 'PATCH'
          timeout: 30000
          bearerToken: ${{ fromJson(steps.token.outputs.response).access_token }}