name: Deployment (Cross)

on:
  push:
    # Publish semver tags as releases.
    tags: [ 'v*.*.*' ]

concurrency:
  group: "${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}"
  cancel-in-progress: true

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ${{ matrix.info.os }}
    timeout-minutes: 18
    outputs:
      executable: target/${{ matrix.info.target }}/release/spider-bot
    strategy:
      fail-fast: false
      matrix:
        info:
          - {
            os: "ubuntu-24.04",
            target: "x86_64-unknown-linux-musl",
          }
          - {
            os: "ubuntu-24.04-arm",
            target: "aarch64-unknown-linux-musl",
          }
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1

      - name: Install Protoc
        uses: arduino/setup-protoc@v3

      - name: Install Musl toolchain
        run: |
          sudo apt update
          sudo apt install -y musl-tools musl-dev

      - name: Set up Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          target: ${{ matrix.info.target }}

      - name: Cargo Build
        run: cargo build --all-targets --target=${{ matrix.info.target }} --locked --release

      - uses: actions/upload-artifact@v6
        with:
          name: artifact ${{ matrix.info.target }}
          path: |
            target/*/release/spider-bot
            target/*/release/spider-bot.exe

  publish:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    outputs:
      tag: ${{ fromJSON(steps.meta.outputs.json).tags[0] }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1

      # Workaround: https://github.com/docker/build-push-action/issues/461
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f

      # Login against a Docker registry
      # https://github.com/docker/login-action
      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@6862ffc5ab2cdb4405cf318a62a6f4c066e2298b
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@f0a4bc3c2d4c68c4ddaeaca7ba2497760fe0ead4
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}},enable=${{ !startsWith(github.ref, 'refs/tags/v0.') }}
            type=sha,priority=650
            type=ref,event=branch
          flavor: |
            latest=auto

      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          path: target

      - name: Copy output files for Docker
        run: |
          mkdir -p exec/linux
          cp "target/artifact x86_64-unknown-linux-musl/x86_64-unknown-linux-musl/release/spider-bot" exec/linux/amd64
          cp "target/artifact aarch64-unknown-linux-musl/aarch64-unknown-linux-musl/release/spider-bot" exec/linux/arm64

      # Build and push Docker image with Buildx (don't push on PR)
      # https://github.com/docker/build-push-action
      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@9e436ba9f2d7bcd1d038c8e55d039d37896ddc5d
        with:
          context: .
          push: true
          provenance: false # Disable provenance to avoid unknown/unknown
          sbom: false       # Disable sbom to avoid unknown/unknown
          file: ./CI.Dockerfile
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  changelog:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      actions: write
      contents: write
    steps:
      - uses: actions/checkout@v6
      - name: Update CHANGELOG
        id: changelog
        uses: requarks/changelog-action@v1
        with:
          token: ${{ github.token }}
          tag: ${{ github.ref_name }}

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          draft: false
          prerelease: ${{ contains(github.ref_name, '-') }}
          make_latest: ${{ !contains(github.ref_name, '-') }}
          body: ${{ steps.changelog.outputs.changes }}
          token: ${{ github.token }}

#  deploy:
#    needs: publish
#    runs-on: ubuntu-latest
#    steps:
#      - name: Get Deployment API Token
#        id: token
#        uses: fjogeleit/http-request-action@main
#        with:
#          url: ${{secrets.DEPLOY_AUTH_URL}}
#          method: 'POST'
#          timeout: 30000
#          data: >-
#            {
#              "grant_type":"password",
#              "prompt":"none",
#              "client_id": "${{secrets.DEPLOY_CLIENT_ID}}",
#              "scope": "openid kube",
#              "username": "${{secrets.DEPLOY_USERNAME}}",
#              "password": "${{secrets.DEPLOY_PASSWORD}}"
#            }
#          contentType: "application/x-www-form-urlencoded"
#
#      - name: Update
#        id: refresh
#        uses: fjogeleit/http-request-action@main
#        with:
#          url: "${{secrets.DEPLOY_URL}}?image=${{needs.publish.outputs.tag}}"
#          method: 'PATCH'
#          timeout: 30000
#          bearerToken: ${{ fromJson(steps.token.outputs.response).access_token }}
